body {
    margin: 0;
}
div#bgmenu  {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
	background-size:100%;
}


 @media screen and  (max-width: 2000px)
 {
	div#bgmenu
	{	
		background: url(files/images/2000.jpg)  no-repeat ;    
		min-height: 1311px;
		min-width: 2000px;
	}
	
		
	 .new_face
	 {
		width: 655px; 
		height: 150px; 
		background: url(files/images/new_face2000.png) no-repeat ;  
		left: 1200px;
		top:180px;
		position: absolute;		
	}
	 .new_face:hover 
	 {
		width: 655px; 
		height: 150px; 
		background: url(files/images/new_face22000.png) no-repeat ;  
		left: 1200px;
		top:180px;
		position: absolute;
	}

	 .kasting 
	 {
		width: 684px;
		height: 231px;
		background: url(files/images/kasting2000.png) no-repeat ;  
		left: 1200px;
		top:330px;
		position: absolute;
	}
	 .kasting:hover
	 {
		width: 684px;
		height: 231px;
		background: url(files/images/kasting12000.png) no-repeat ;  
		left: 1200px;
		top:330px;
		position: absolute;
	}
	.contact 
	{
		width:562px;
		height: 151px;
		background: url(files/images/contact2000.png) no-repeat ;  
		left: 1200px;
		top:540px;
		position: absolute;
	}
	.contact:hover 
	{
		width:562px;
		height: 151px;
		background: url(files/images/contact12000.png) no-repeat ;  
		left: 1200px;
		top:540px;
		position: absolute;
	}
	 .partner 
	 {
		width: 646px;
		height: 150px;
		background: url(files/images/partner2000.png) no-repeat ;  
		left: 1200px;
		top:670px;
		position: absolute;
	}
	 .partner:hover 
	 {
		width: 624px;
		height: 150px;
		background: url(files/images/partner12000.png) no-repeat ;  
		left: 1200px;
		top:670px;
		position: absolute;
	}
	.logo
	{
		width: 760px;
		height: 378px;
		background: url(files/images/logo02000.png) no-repeat ;  
		left: 45px;
		top:900px;
		position: absolute;
	}
	 .logo:hover
	 {
		width: 760px;
		height: 378px;
		background: url(files/images/logo2000.png) no-repeat ;  
		left: 45px;
		top:900px;
		position: absolute;
	}
}





  @media screen and  (max-width: 1600px)
  {
	div#bgmenu
	{	
		background: url(files/images/07-10.jpg)  no-repeat ;    
		min-height: 1049px;
		min-width: 1600px;
	}
	
	
	 .new_face 
	 {
		width: 431px; 
		height: 99px; 
		background: url(files/images/new_face.png) no-repeat ;  
		left: 1000px;
		top:140px;
		position: absolute;

		
	}
	 .new_face:hover {
		width: 431px; 
		height: 99px; 
		background: url(files/images/new_face2.png) no-repeat ;  
		left: 1000px;
		top:140px;
		position: absolute;
	}

	 .kasting {
		width: 450px;
		height: 151px;
		background: url(files/images/kasting.png) no-repeat ;  
		left: 1000px;
		top:270px;
		position: absolute;
	}
	 .kasting:hover {
		width: 450px;
		height: 151px;
		background: url(files/images/kasting1.png) no-repeat ;  
		left: 1000px;
		top:270px;
		position: absolute;
	}
	.contact {
		width:369px;
		height: 99px;
		background: url(files/images/contact.png) no-repeat ;  
		left: 1000px;
		top:440px;
		position: absolute;
	}
	.contact:hover {
		width: 369px;
		height:99px;
		background: url(files/images/contact1.png) no-repeat ;  
		left: 1000px;
		top:440px;
		position: absolute;
	}
	 .partner {
		width: 425px;
		height: 99px;
		background: url(files/images/partner.png) no-repeat ;  
		left: 1000px;
		top:530px;
		position: absolute;
	}
	 .partner:hover {
		width: 425px;
		height: 99px;
		background: url(files/images/partner1.png) no-repeat ;  
		left: 1000px;
		top:530px;
		position: absolute;
	}
	.logo {
		width: 500px;
		height: 215px;
		background: url(files/images/logo0.png) no-repeat ;  
		left: 45px;
		top:800px;
		position: absolute;
	}
	 .logo:hover {
		width: 500px;
		height: 215px;
		background: url(files/images/logo.png) no-repeat ;  
		left: 45px;
		top:800px;
		position: absolute;
	}
   
}
  @media screen and (max-width: 1366px) 
  {
    div#bgmenu  
	{
		background: url(files/images/1366.jpg)  no-repeat ;  
		min-height: 896px;
		min-width: 1366px;
	}
	
		 .new_face 
		 {
			width: 431px; 
			height: 99px; 
			background: url(files/images/new_face.png) no-repeat ;  
			left: 835px;
			top:120px;
			position: absolute;

			
		}
		 .new_face:hover {
			width: 431px; 
			height: 99px; 
			background: url(files/images/new_face2.png) no-repeat ;  
			left: 835px;
			top:120px;
			position: absolute;
		}

		 .kasting {
			width: 450px;
			height: 151px;
			background: url(files/images/kasting.png) no-repeat ;  
			left: 835px;
			top:220px;
			position: absolute;
		}
		 .kasting:hover {
			width: 450px;
			height: 151px;
			background: url(files/images/kasting1.png) no-repeat ;  
			left: 835px;;
			top:220px;
			position: absolute;
		}
		.contact {
			width:369px;
			height: 99px;
			background: url(files/images/contact.png) no-repeat ;  
			left: 835px;
			top:370px;
			position: absolute;
		}
		.contact:hover {
			width: 369px;
			height:99px;
			background: url(files/images/contact1.png) no-repeat ;  
			left: 835px;
			top:370px;
			position: absolute;
		}
		 .partner {
			width: 425px;
			height: 99px;
			background: url(files/images/partner.png) no-repeat ;  
			left: 835px;
			top:450px;
			position: absolute;
		}
		 .partner:hover {
			width: 425px;
			height: 99px;
			background: url(files/images/partner1.png) no-repeat ;  
			left: 835px;
			top:450px;
			position: absolute;
		}
		.logo {
			width: 500px;
			height: 215px;
			background: url(files/images/logo0.png) no-repeat ;  
			left: 45px;
			top:650px;;position: absolute;
		}
		 .logo:hover {
			width: 500px;
			height: 215px;
			background: url(files/images/logo.png) no-repeat ;  
			left: 45px;
			top:650px;position: absolute;
		}
   }
   @media screen and (max-width: 1024px)   
 { 
   div#bgmenu
   {
    background: url(files/images/1024.jpg)  no-repeat ;  
	min-height: 672px;
	min-width: 1024px;}
	
		.new_face {
			width: 431px; 
			height: 99px; 
			background: url(files/images/new_face1024.png) no-repeat ;  
			top:85px;
			left: 620px;
			position: absolute;

			
		}
		.new_face:hover {
			width: 431px; 
			height: 99px; 
			background: url(files/images/new_face21024.png) no-repeat ;  
			top:85px;
			left: 620px;
			position: absolute;
		}

		.kasting {
			width: 450px;
			height: 151px;
			background: url(files/images/kasting1024.png) no-repeat ;  
			left: 620px;
			top:170px;
			position: absolute;
		}
		.kasting:hover {
			width: 450px;
			height: 151px;
			background: url(files/images/kasting11024.png) no-repeat ;   
			left: 620px;
			top:170px;
			position: absolute;
		}
		.contact {
			width:369px;
			height: 99px;
			background: url(files/images/contact1024.png) no-repeat ;  
			left: 620px;
			top:275px;
			position: absolute;
		}
		.contact:hover {
			width: 369px;
			height:99px;
			background: url(files/images/contact11024.png) no-repeat ;  
			left: 620px;
			top:275px;
			position: absolute;
		}
		 .partner {
			width: 425px;
			height: 99px;
			background: url(files/images/partner1024.png) no-repeat ;  
			left: 620px;
			top:345px;
			position: absolute;
		}
		 .partner:hover {
			width: 425px;
			height: 99px;
			background: url(files/images/partner11024.png) no-repeat ;  
			left: 620px;
			top:345px;
			position: absolute;
		}
		.logo {
			width: 500px;
			height: 215px;
			background: url(files/images/logo01024.png) no-repeat ;  
			left: 5px;
			top:450px;
			position: absolute;
		}
		 .logo:hover {
			width: 500px;
			height: 215px;
			background: url(files/images/logo1024.png) no-repeat ;  
			left: 5px;
			top:450px;position: absolute;
		}
	}
	
	

.bg 
{
position: absolute;
left: 0px;
top:0; padding: 0px; 
}


