
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #4a4a4a;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #ffffff;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
  background-color: #c2c4c5;
  background-image: -moz-linear-gradient(top, #ededed 0%, #c2c4c5 100%);
  background-image: -ms-linear-gradient(top, #ededed 0%, #c2c4c5 100%);
  background-image: -o-linear-gradient(top, #ededed 0%, #c2c4c5 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ededed), color-stop(1, #c2c4c5));
  background-image: -webkit-linear-gradient(top, #ededed 0%, #c2c4c5 100%);
  background-image: linear-gradient(top, #ededed 0%, #c2c4c5 100%);
}
a {
  color: #009cbf;
}
a:hover,
a:focus {
  color: #00c3ed;
}
a:active {
  color: #2bd9fe;
}
.sidebar .block {
  background-color: #ffffff;
  border-color: #cccccc;
}
#page-wrapper,
#footer-wrapper {
  background: #ffffff;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #333;
}
